{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% block main %}

<form method="post" action="/transcript" accept=".doc,.docx" enctype="multipart/form-data">
    <div class="mb-3">
        {% if all_results != "" %}

        <p>{{ all_results|join(" ") }}</p>

        {% endif %}
    </div>
<form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">FileName</th>
            <th scope="col">Transcript</th>
            <th scope="col">Date</th>
          </tr>
    </thead>
    <tbody>
        {% for history in history %}
        <tr>
            <td>{{ history["filename"] }}</td>
            <td><a href="{{ history['transcript'] }}" download>{{ history["transcript"] }}</a></td>
            <td>{{ history["date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
